<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://seeklogo.com/images/U/universo-logo-9061D15DFE-seeklogo.com.png">
    <style>
/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5468ff 0, #1A316C 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #1A316C 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #1A316C 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #1A316C 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #1A316C 0 3px 7px inset;
  transform: translateY(2px);
}

header {
    color: white;
    text-align: center;
}
body {
    background: rgba(255, 0, 0, 0.486);
    font: normal 15pt Arial;
    margin-top: 10px;
}
#fundo-branco {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    max-width: 900px;
    margin: auto; /* Centraliza */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    min-height: 220px;
}
div{
    text-align: center;
}
input {
    font-size: 20px;
}
a {
    color: white;
    text-decoration: none;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

form {
    text-align: center;
}

select {
    width: 135px;
    height: 175px;
    margin: 20px;
    text-align: center;
}

label#tiutlo {
    text-align: center;
}


input#botao {
    text-align: center;
}

input#chamado {
    width: 100px;
}

#logo {
    display: block;
    margin: 0px auto;
    height: 100px;
}

textarea {
    margin: auto;
}
button {
    font-size: 20px;
    margin: auto;
}
p {
    font-size: 20px;
}
img {
    width: 50%;
    height: 50%;
    margin-bottom: 2px;
}
input, p, textarea {
    padding: 0px;
}
h1 {
    margin-bottom: 0px;
    margin-top: 0px;
}
    </style>
    <title>Universo EAD</title>
</head>
<body>
<header>
    <a href="http://localhost:5501/"><img src="https://www.universobiblioci.com.br/themes/site/assets/img/logo_universo.png" alt=""></a>
</header>
    <div>
    {{{body}}}
    </div>
</body>
</html>
