<br><h1>Cadastro</h1>
<br><div>
<form action="/add" method="POST" id="fundo-branco">
    <p>Login: </p> <input type="text" name="login" id="caixas-de-dialogo">
    <p>Senha: </p> <input type="password" name="senha" id="">
    <br>
    </div></br>
    <button type="submit" class="button-29" role="button">Cadastrar</button> 
</form>
</div>

